html, body {
	font: 400 16px/1.5 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    background-color: #f8fafc;
}

.header {
    padding-top: 40px;
    padding-bottom: 20px;

	a {
		color: #292b2c;
	}
	a, a:link, a:visited, a:active, a:focus, a:hover {
		text-decoration: none;
	}
}

.container {
	// Override bootstraps largest container
	@media (min-width: 992px) {
		width: 960px;
	}
}

.content-container {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer {
    color: #9eabb3;
    font-size: 60%;
    margin-top: 20px;
    margin-bottom: 10px;
}


/* Header */
.site-switcher {
	background-color: #33333E;
	color: #eee;
	border-bottom: #999 1px solid;
	font-size: 11px;
	text-transform: uppercase;
	box-shadow: 0px 5px 10px 2px rgba(0,0,10,0.2);

	.container {
		padding-top: 6px;
		padding-bottom: 6px;
	}

	.title {
		display: inline-block;
		margin-right: 2px;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: inline-block;

		li {
			display: inline-block;
			margin-left:10px;

			a {
				color: #ddd;

				&:hover {
					color: white;
				}
			}
		}
	}
}


.home-post {
	padding-top: 20px;
	padding-bottom: 20px;
}


.post-meta {
    color: #9eabb3;
}

.post-back-link {
    color: #9eabb3;
}

.post-content {
    padding: 20px 10px;

    img {
		width: auto;
		height: auto;
		max-height: 400px;
		max-width: 95%;
		border: 1px solid #eee;
		padding: 10px;
		margin: 20px auto;
		display: block;
    }
}
